<!DOCTYPE html>
<html>
    <head>
        <title>
            Tarek's Cozy Quarters
        </title>
    </head>
    <body>
        <h1 style="text-align: center;">
            Tarek's Cozy Quarters
        </h1>
    <p style="text-align: center;">
        This is my little corner of some of github's ram, get comfy cause we ain't getting many more megabits in this economy.
        <br>
    </p>
    <p style ="text-align: center;">
        Check out the different rooms:<br>
        <a href="/about">About</a><br>
        <a href="/setup">Setup</a>
    </p>
    </body>
</html>
